---
import Layout from "../layouts/Layout.astro";
import Converter from "../components/Converter";
import { IconMule } from "src/components/Icons/MuleIcon";
---

<Layout title="Convertidor JSON a Data-Type">
  <main>
    <header class="flex items-center gap-4">
      <div class="w-16">
        <IconMule />
      </div>
      <h1 class="text-2xl md:text-4xl font-bold">
       Convertidor de JSON a <span class="text-gradient"> Data-Types</span>
      </h1>
    </header>
    <div class="my-8">
      <h2 class="text-xl">
        Los <strong class="text-gradient">Data Types</strong> son una forma concisa y vers치til de describir
        y validar datos dentro de su definici칩n de API.
      </h2>
      <p class="text-md">
        Para comenzar ingres치 tu estructura JSON en el contenedor izquierdo.
      </p>
    </div>
    <div class="box-converter">
      <Converter client:load />
    </div>
    <div>
      <p>
        Si te interesa aprender m치s sobre Data types, puedes revisar el siguiente enlace <br/><a href="https://docs.mulesoft.com/studio/6.x/raml-1-0-data-types-support" rel="noopener noreferrer" target="_blank" class="inline text-gradient font-bold underline decoration-solid decoration-base-light hover:decoration-base">RAML 1.0 Data Types</a>
      </p>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
    min-height: 100vh;
    min-height: 100dvh;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .box-converter {
    margin-bottom: 2rem;
    border: 1px solid #93c5fd;
    background: linear-gradient(
      rgba(0, 159, 224, 66%),
      rgba(0, 159, 224, 22%)
    );
    padding: 1rem;
    border-radius: 8px;
  }
</style>