--- 
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content="An online playground to convert JSON to Data Types" />
	</head>
	<body>
		<slot />
		<footer class="border-t border-slate-800 px-8">
			<div class="py-2 text-white flex flex-col justify-center items-center gap-2 text-center">
				<span>
					Hecho con 💙 por  <a class="text-base text-base-light hover:text-base" href="https://github.com/JeremiasArriondo" rel="noopener noreferrer" target="_blank">@JeremiasArriondo</a> 
				</span>
				<a class="text-base text-base-light hover:text-base" href="https://github.com/JeremiasArriondo/converter-data-types" rel="noopener noreferrer" target="_blank">Source code Github</a>
			</div>
		</footer>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(45deg, rgb(8, 136, 186), rgb(171, 207, 247) 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #0f172a;
		background-size: 224px;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
